services:
  {{ portainer_agent_container_name }}:
{% if portainer_agent_mode != 'podman' %}
    container_name: {{ portainer_agent_container_name }}
{% endif %}
{% if portainer_agent_mode == 'podman' %}
    privileged: true
{% endif %}
    image: {{ portainer_agent_docker_image_name }}:{{ portainer_agent_version }}
    restart: always
    ports:
      - "{{ portainer_agent_port }}:9001"
    volumes:
      - "{{ portainer_agent_docker_sock_path }}:/var/run/docker.sock"
      - "{{ portainer_agent_docker_volumes_path }}:/var/lib/docker/volumes"
      - "{{ portainer_agent_root_mount_path }}:/host"
    {{ 'deploy:\n      mode: global' if portainer_agent_mode == 'swarm' else '' }}
