services:
  {{ portainer_agent_container_name }}:
    container_name: {{ portainer_agent_container_name }}
    image: {{ portainer_agent_docker_image_name }}:{{ portainer_agent_version }}
    restart: always
    ports:
      - "{{ portainer_agent_port }}:9001"
    volumes:
      - "{{ portainer_agent_docker_sock_path }}:/var/run/docker.sock"
      - "{{ portainer_agent_docker_volumes_path }}:/var/lib/docker/volumes"
      - "{{ portainer_agent_root_mount_path }}:/host"
    networks:
      - {{ portainer_agent_network }}
    deploy:
      mode: global
      placement:
        constraints:
          - "node.platform.os == {{ 'linux' if portainer_agent_os in ['linux', 'wsl'] else 'windows' }}"

networks:
  {{ portainer_agent_network }}:
    external: true
